<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:mvcL="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <context:component-scan base-package="com.example.controller"/>

    <mvc:annotation-driven/>

    <mvc:resources mapping="/static/**" location="/static/"/>
    <mvc:resources mapping="/file/**" location="/file/"/>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--        <property name="maxUploadSize" value="10240000"/>-->
    </bean>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <!--只想拦截/user/**/*
                    还需要开放登录权限
                -->
            <mvc:mapping path="/user/**/*"/>
            <!--排除登录注册的uri-->
            <mvc:exclude-mapping path="/user/login/**/*"/>
            <mvc:exclude-mapping path="/user/register"/>
            <mvc:exclude-mapping path="/user/imageUpload"/>
            <mvc:exclude-mapping path="/user/getCode"/>
            <bean class="com.example.interceptor.UserInterceptor"/>
        </mvc:interceptor>

<!--        <mvc:interceptor>-->
<!--            <mvc:mapping path="/manager/**/*"/>-->
<!--            <mvc:exclude-mapping path="/manager/login/**/*"/>-->
<!--            <bean class="com.example.interceptor.ManagerInterceptor"/>-->
<!--        </mvc:interceptor>-->
    </mvc:interceptors>
</beans>